body{
    background: lightgray;
}
.list-group-item{
    text-align: center;
}
.list-group-blue{
    background-color: #f5f5f5;
    color: #007bff;
}
.list-group-red{
    background-color: #e2e2e2;
    color: #dc3545;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}