<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Warehouse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Overview</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}">Store Car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'query' %}">Query by Color</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'move' %}">Move Car</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}

{% endblock %}
</body>
</html>