{% extends 'main/header.html' %}
{% block content %}
    <br>
    <div class="container">
        <h2>AVAILABLE CARS</h2>
        <hr>
        <ul class="list-group">
            {% for car in all_cars %}
                {% if car.get_car_color_display == 'Blue' %}
                    <li class="list-group-item list-group-blue ">{{ car.car_name }}
                        | {{ car.get_car_color_display }}</li>
                {% endif %}
                {% if car.get_car_color_display == 'Red' %}
                    <li class="list-group-item list-group-red ">{{ car.car_name }}
                        | {{ car.get_car_color_display }}</li>
                {% endif %}
            {% empty %}
                <h5>No cars stored. Please add cars.</h5>
            {% endfor %}
        </ul>
    </div>
{% endblock %}