{% extends 'main/header.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>MOVE A CAR</h2>
                <h6>Choose a car to move and the car's position to move to.</h6>
                <hr>
                <form method="post" class="form-group">{% csrf_token %}
                    <h6>{{ error_message }}</h6>
                    <p><label for="id_move">Car's name to move:</label> <input type="text" name="move" maxlength="255"
                                                                               required id="id_move"/></p>
                    <p><label for="id_scoot">Car's name to move into:</label> <input type="text" name="scoot"
                                                                                     maxlength="255" required
                                                                                     id="id_scoot"/></p>
                    <button type="submit" class="btn btn-dark">Move</button>
                </form>
            </div>
            <div class="col">
                {% for car in all_cars %}
                    {% if car.get_car_color_display == 'Blue' %}
                        <li class="list-group-item list-group-blue ">{{ car.car_name }}
                            | {{ car.get_car_color_display }}</li>
                    {% endif %}
                    {% if car.get_car_color_display == 'Red' %}
                        <li class="list-group-item list-group-red ">{{ car.car_name }}
                            | {{ car.get_car_color_display }}</li>
                    {% endif %}
                {% empty %}
                    <h5>No cars stored. Please add cars.</h5>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}