{% extends 'main/header.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>QUERY BY COLOR</h2>
                <h6>Choose a color to get all cars with that color.</h6>
                <hr>
                <form method="post" class="form-group">{% csrf_token %}
                    <input type="hidden" name="color" value="Blue">
                    <button type="submit" class="btn btn-primary col-md-12" value="Blue">Blue</button>
                </form>
                <form method="post" class="form-group">{% csrf_token %}
                    <input type="hidden" name="color" value="Red">
                    <button type="submit" class="btn btn-danger col-md-12" value="Red">Red</button>
                </form>
                <form method="post" class="form-group">{% csrf_token %}
                    <input type="hidden" name="color" value="All">
                    <button type="submit" class="btn btn-dark col-md-12" value="Red">All</button>
                </form>
            </div>
            <div class="col">
                <ul class="list-group">
                    {% for car in all_cars %}
                        {% if car.get_car_color_display == 'Blue' %}
                            <li class="list-group-item list-group-blue ">{{ car.car_name }}
                                | {{ car.get_car_color_display }}</li>
                        {% endif %}
                        {% if car.get_car_color_display == 'Red' %}
                            <li class="list-group-item list-group-red ">{{ car.car_name }}
                                | {{ car.get_car_color_display }}</li>
                        {% endif %}
                    {% empty %}
                        <h5>No cars stored. Please add cars.</h5>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}