{% extends 'main/header.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>STORE A CAR</h2>
                <h6>Input the car's name and color, then pres save.</h6>
                <hr>
                <form method="post" class="form-group">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-dark">Save</button>
                </form>
            </div>
            <div class="col">
                <ul class="list-group">
                    {% for car in all_cars %}
                        {% if car.get_car_color_display == 'Blue' %}
                            <li class="list-group-item list-group-blue ">{{ car.car_name }}
                                | {{ car.get_car_color_display }}</li>
                        {% endif %}
                        {% if car.get_car_color_display == 'Red' %}
                            <li class="list-group-item list-group-red ">{{ car.car_name }}
                                | {{ car.get_car_color_display }}</li>
                        {% endif %}
                    {% empty %}
                        <h5>No cars stored. Please add cars.</h5>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}